venv/*
src/keboola_storage_api/__pycache__/*
src/workspace_connection/__pycache__/*
secrets.toml
snowflake_sql_agent.ipynb
.DS_Store
__pycache__/*
*.pyc
test/evaluation_output.csv
evaluation_output.csv
chat_log.txt
spider/*
new_agent_test.ipynb
