streamlit
langchain==0.0.354
SQLAlchemy~=1.4
SQLAlchemy-Utils~=0.41
openai~=1.7
snowflake-sqlalchemy~=1.5
streamlit-ace
rapidfuzz
faiss-cpu
tiktoken
loguru
#context-python  # requires python >=3.10
#lunary
llmonitor~=0.0.51
langchain_core
langchain_community
streamlit_feedback
kbcstorage
waii-sdk-py
llama_hub
langchainhub
