streamlit
langchain==0.0.354
SQLAlchemy
openai~=1.7
snowflake-sqlalchemy==1.4.7
streamlit-ace
rapidfuzz
faiss-cpu
tiktoken
loguru
#context-python  # requires python >=3.10
lunary
llmonitor
langchain_core
langchain_community
streamlit_feedback
kbcstorage
waii-sdk-py
llama_hub
langchainhub

