user = ""
password = ""
account_identifier = ""
database_name = ""
schema_name = ""
warehouse_name = ""
waii_prod_api_key = ""
OPENAI_API_KEY = ""
LUNARY_APP_ID = ""
keboola_url = ""
keboola_token = ""